<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Entries</title>
</head>

<body>
    <h1>Entries List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{ entry[0] }}</td>
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2] }}</td>
                <td>{{ entry[3] }}</td>
                <td>{{ entry[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('index') }}">Add Entries</a>
</body>
</html>